block content
    div.modal#modal
        div.modal-content
            span.close &times;
            p Jewel Thief Editor 
            p &copy; Neil Brittliff - 2018
            p email: Neil.Brittliff@outlook.com