extends layout

block content
  div.main(style="width: 100%; height:100%; overflow:hidden;")
    div(style="position:absolute; top:8px; left:5px; width:85px; bottom:9px; border: 3px solid green; background: #a6e26b")
      div#drawButton(style="position:absolute; top:12px; left:8px; width:44px; height:14px;")
        a#draw(href="") Load
      div#drawButton(style="position:absolute; top:68px; left:8px; width:44px; height:14px;")
        a#draw(href="") Reset
      div#drawButton(style="position:absolute; top:124px; left:8px; width:44px; height:14px;")
        a#draw(href="") Save
      div#drawButton(style="position:absolute; bottom:10px; left:8px; width:44px; height:14px;")
        a#draw(href="") Play
    div(style="position:absolute; left:100px;")
      canvas#canvas(width="804" height="804" style="background-color:#fff; border: 3px solid green;")
    div(style="position:absolute; top:8px; right:5px; width:69px; bottom:9px; border: 3px solid green;  background: #a6e26b")

  script(src="assets/javascripts/main/main.js")